@model AirsoftCore.Models.ViewModels.ProductoViewModel

@{
    ViewData["Tittle"] = "Editar Producto";
}

<section class="container">


    <form method="POST" class="shadow mx-auto" style="max-width:1024px" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="Producto.Id" class="form-control" />
        <div class="bg-primary text-white container p-4"> <h4>Crear Producto</h4></div>
        <div class="container bg-white p-4 gap-3 flex-column d-flex">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>

                <label class="form-label" asp-for="Producto.Nombre"></label>
                <input asp-for="Producto.Nombre" class="form-control" />
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>

            </div>
            <div>

                <label class="form-label" asp-for="Producto.Descripcion"></label>
                <textarea asp-for="Producto.Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>

            </div>
            <div>

                <label class="form-label" asp-for="Producto.Stock"></label>
                <input type="number" asp-for="Producto.Stock" class="form-control" />
                <span asp-validation-for="Producto.Stock" class="text-danger"></span>

            </div>

            <div>

                <label class="form-label" asp-for="Producto.Precio"></label>
                <input type="number" asp-for="Producto.Precio" class="form-control" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>

            </div>

            <div>
                <label class="form-label" for="Categorias">Categorias</label>

                @Html.DropDownListFor(m => m.Producto.CategoriaId, Model.ListaCategorias, "-Selecciona una categoria-",
                new { @class = "form-select" , @name = "Categorias"})
                <span asp-validation-for="Producto.CategoriaId" class="text-danger"></span>
            </div>

            <div>
                <label for="formFileMultiple" class="form-label">Selecciona las imagenes</label>
                <input type="file" name="Imagenes" id="imagenesInput" multiple class="form-control">
            </div>

            <div id="imagenesContainer"></div>



            <partial name="_VistaGuardarVolver" />

        </div>




    </form>
</section>

@section Scripts{
    <script>
       
    </script>
}

