@model ProductoCarrito

@{
    ViewData["Tittle"] = "Editar Producto Carrito";
}


<form class="shadow mx-auto mt-5" style="max-width: 1024px" method="POST" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ProductoId" />
    <div class="bg-primary text-white container p-4"> <h4>Editar Producto Del Carrito</h4></div>
    <div class="container bg-white p-4 gap-3 flex-column d-flex">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div>

            <span class="">@Model.Producto.Nombre</span>

        </div>

        <div>

            <label asp-for="Cantidad"></label>
            <input type="number" min="1" step="1" pattern="[0-9]*" asp-for="Cantidad" class="form-control" />
            <span asp-validation-for="Cantidad" class="text-danger"></span>

        </div>


        <partial name="_VistaCrearVolver" />


    </div>
</form>

@section Scripts{
    @if (TempData["Error"] != null)
    {
        <script>
            Swal.fire({
                title: '¡Error!',
                text: '@TempData["Error"]',
                icon: 'error',
                confirmButtonText: 'Ok'
            })
        </script>
    }
}